:root {
	--primary-color: #fafafa;
	--secondary-color: #ffffff;
	--tertiary-color: #dbdbdb;
	--tertiary-color-shade-1: #8e8e8e;
	--tertiary-color-shade-2: #eeeeee;
	--primary-btn-color: #0095f6;
	--primary-btn-disabled-color: #b2dffc;
	--primary-text-color: #262626;
	--success-color: green;
	--danger-color: red;
	--primary-link: #053a6d;
}
.search__box {
	position: absolute;
	top: 2.5rem;
	right: -4.8rem;
	width: 350px;
	background: var(--secondary-color);
	border: 1px solid var(--tertiary-color);
	border-radius: 10px;
	box-shadow: 1px 1px 3px var(--tertiary-color),
		-1px -1px 3px var(--tertiary-color);
	display: flex;
	flex-direction: column;
	height: 320px;
	padding: 1rem;
	z-index: 2;
	font-weight: 500;
}

.search__box::after {
	content: "";
	position: absolute;
	top: -0.5rem;
	left: 48%;
	height: 15px;
	width: 15px;
	background: var(--secondary-color);
	border-top: 1px solid var(--tertiary-color);
	border-left: 1px solid var(--tertiary-color);
	transform: rotate(45deg);
}

.search__box .search__box__heading {
	color: var(--primary-text-color);
}

.search__box .search__box__empty {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90%;
	color: var(--tertiary-color-shade-1);
	font-weight: 700;
	font-size: 0.8rem;
}

.search__box .search__box__results {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.search__box__results .search__box__result {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	border: none;
	background: transparent;
	text-decoration: none;
}

.search__box__results .search__box__result:hover {
	background: var(--primary-color);
}

.search__box__results .avatar {
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

.search__box__results .avatar__img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.search__box__results .result__content {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.search__box__results .username {
	color: var(--primary-text-color);
}

.search__box__results .fullname {
	color: var(--tertiary-color-shade-1);
	font-size: 0.7rem;
}

.search__box ::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.search__box ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--tertiary-color);
	border-radius: 10px;
}

/* Handle */
.search__box ::-webkit-scrollbar-thumb {
	background: var(--tertiary-color-shade-1);
	border-radius: 10px;
}

/* Handle on hover */
.search__box ::-webkit-scrollbar-thumb:hover {
	background: var(--tertiary-color-shade-1);
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	z-index: 1;
}
