* {
  box-sizing: border-box;
}
#btn__outlined {
  border-color: black;
  color: black;
  cursor: pointer;
}
#btn__contained {
  color: white;
  background-color: black;
  cursor: pointer;
}
#btn__outlined:hover {
  color: white;
  background-color: black;
}
#btn__contained:hover {
  color: black;
  background-color: white;
}
#filled__comment:focus-within::after {
  color: black;
}
