* {
  box-sizing: content-box;
}
#btn__outlined {
  border-color: black;
  color: black;
}
#btn__contained {
  color: white;
  background-color: black;
}
#btn__outlined:hover {
  color: white;
  background-color: black;
}
#btn__contained:hover {
  color: black;
  background-color: white;
}
